            // MAIN PAGINA 4 "CONSEJOS"
            
@import './maps';

.pagina4 {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,68,125,1) 50%, rgba(255,69,12,1) 73%);
    display: flex;
    justify-content: center;
  

    .bienvenida4 {
        background-image: url(../images/pagina4.webp);
        background-size: 100% 100%;
        width: 75%;
        height: 80vh;

        div {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: start;
            flex-direction: row;

            h1 {
                text-align: center;
                font-size: 34px;
                font-family: 'Cinzel', serif;
                letter-spacing: 4px;
                padding-top: 50px;
                padding-right: 70px;
            }

        }
    }
    .introduccion {
        text-align: center;
        padding: 40px;
        margin: 2%;
        
        h5 {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 26px;
            color:black;
        }
    }

    .primerarticulo4 {
        background-color:$color-fondobox;
        @include article_box ($color-fondobox);

        .titulo1 {
            
            h1 {
                text-align:center;
                font-size: 28px;
                padding: 35px 5px 5px 10px;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: black;
            }
        }

        .inspeccion {
            @include box_pag5 ($color-fondobox);
            h3 {
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }
        }

        .limpieza {
            @include box_pag5 ($color-fondobox);

            h3 {
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }
        }

        .proteccion {
            @include box_pag5 ($color-fondobox);
            margin-bottom: 5%;

            h3 {
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }
        }
    }

    .segundoarticulo4 {
        background-color:$color-fondobox;
        @include article_box ($color-fondobox);
        margin: 3%;

        .titulo2 {

            h1 {
                text-align: center;
                font-size: 28px;
                padding: 35px 5px 5px 10px;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: black;
            }
        }
        .seleccion {
            @include box_pag5 ($color-fondobox);

            h3 {
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }
        }
        .humedad {
            @include box_pag5 ($color-fondobox);

            h3 {
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }
        }
        .mantenimiento {
            @include box_pag5 ($color-fondobox);
            margin-bottom: 5%;

            h3 {
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }
        }
    }
    .video {
      background-color:map-get($pallet, naranjaf);
        div {
            padding-top: 30px;
            h5 {
                text-align: center;
                font-size: 25px;
                font-family:Arial, Helvetica, sans-serif;
                color: $color-titulosart;
              }
        }
        .contenedorvideo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:30px 0px 50px 0px;
            iframe {
                height: 500px;
                width: 80%;
            }
        }
    }
}