            //  MAIN PAGINA 2 "PINTURAS"

.pg2main {
    background-color: #D8D8D9;
    width: 100%;


    .carouselpadre {
        margin: 0px 120px 10px 120px;
        padding: 0;


        .carousel {
            height: 80vh;
            width: 100%;
            padding: 0;


            .carouselhijo {
                background-color: red;
                align-items: center;
                height: 100%;
                width: 100%;
                object-fit: cover;
                padding: 0;
            }
        }
    }
    .imag {

        height: 100%;
        width: 100%;
        padding: 0;
    }
                    // Aqui comienza la "Bienvenida"

    .pag2art1 {
        background-color:#D8D8D9;
        width: 100%;



        .bienvenida {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 35px;
                font-family: 'Cinzel', serif;
                padding-top: 10px;
                text-align: center;
            }
            p {
                margin-top: 10px;
                text-align: center;
                width: 80%;
                font-size: 17px;
            }
        }
    }

             // Primer articulo de la pagina 2 "Seleccionar pintura"


    .selecpintura {
        background-color:#00447D;
        width: 100%;
        text-align: start;
        padding: 30px 0px 30px 0px;
        margin: 30px 0px 0px 0px;

        .titulo {


        h1 {
            @include titulos_art($color-titulosart:white);

        }
        p {
            text-align: start;
            margin-left: 15px;
            font-size: 17px;
            color: white;

        }
        }

        // AQUI LAS 6 CAJAS

        .one {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;

            }
        }
        .two {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;

            }
        }
        .three {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;

            }
        }
        .four {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;

            }
        }
        .five {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;

            }
        }
        .six {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;



            }
        }
        .piedeart1 {
            @include pie_depagina($color-titulosart:white);

            h5 {
                font-size: 20px;
                color: white;
            }
        }
    }

    // Aqui comienza el segundo articulo "Tipos de pintura" de la pagina 2

    .tiposdepintura {
        background-color:#FF450C;
        width: 100%;
        text-align: end;
        padding: 30px 0px 30px 0px;
        margin: 0;

        .titulo2 {
            @include titulos_art($color-titulosart:white);
            margin-top: 10px;
            padding: 30px;


            h1 {
                font-size: 30px;
                padding: 10px;
                font-family: 'Montserrat', sans-serif;
                color: white;
                text-align: end;


            }
            p {
                text-align: end;
                margin-right: 15px;
                font-size: 17px;
                color: white;

            }
        }
        .one2 {
            @include box_tiposdepintura($color-fondobox:white);


            h3 {
                font-size: 18px;
                text-align: center;

            }
            p {
                text-align: center;


            }
        }
        .two2 {
            @include box_tiposdepintura($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: center;

            }
            p {
                text-align: center;


            }
        }
        .three2 {
            @include box_tiposdepintura($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: center;

            }
            p {
                text-align: center;
            }
        }
        .piedeart2 {
            @include pie_depagina($color-titulosart:white);

            h5 {
                font-size: 20px;
                color: white;
            }
        }

    }

    // Aqui comienza el articulo 3 "Evaluacion de superficie"

    .evaluacionsup {
        background-color:#FF764C;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        .titulo3 {
            margin-top: 10px;
            padding: 30px;


            h1 {
            @include titulos_art($color-titulosart:white);
            text-align: center;
            }
            p {
                text-align: center;
                font-size: 17px;
                color: white;
                padding-top: 10px;

            }
        }
        .one3 {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;

            }
        }
        .two3 {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;

            }
        }
        .three3 {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 18px;
                text-align: start;
            }
            p {
                text-align: start;

            }
        }
        .piedeart3 {
            @include pie_depagina($color-titulosart:white);


            h5 {
                font-size: 20px;
                color: white;
            }
        }
    }
}