        // MAIN PAGINA 3 "TENDENCIAS"

.pag3sect {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;

    .bienvenida2 {
        background-image: url(../images/tendencias.webp);
        background-size: 100% 100%;
        width: 75%;
        height: 80vh;

        div {
            height: 100%;
            width: 100%;
            padding-left: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            h1 {
                text-align: center;
                font-size: 40px;
                font-family: 'Cinzel', serif;
                letter-spacing: 2px;
                color: white;
            }
        }
    }

    .introduccion {
        text-align: center;
        padding: 40px;
        width: 70%;

        h5 {
            font-family:'Times New Roman', Times, serif;
            font-size: 20px;
        }
    }

    .primerarticulo {
        background-image: url(../images/interiores.webp);
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .interiores {
            padding-top: 30px;
            text-align: center;
            color: white;
            width: 100%;

            h1 {
                font-size: 28px;
                padding: 10px;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .neutros {

            @include box_all($color-fondobox:white);


            h3 {
                font-size: 24px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
            }
        }

        .naturales {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 24px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
            }
        }
        .audaces {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 24px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
            }
        }
    }
    .segundoarticulo {
        background-image: url(../images/exteriores.webp);
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


        .exteriores {
            padding-top: 30px;
            text-align: center;
            color: black;
            width: 100%;



            h1 {
                font-size: 28px;
                padding: 10px;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .frescos {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 24px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
            }
        }

        .organicos {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 24px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
            }
        }
        .detalles {
            @include box_all($color-fondobox:white);

            h3 {
                font-size: 24px;
            }
            p {
                font-size: 18px;
            }
            img {
                height: 30px;
                width: 30px;
            }
        }

        .conclusion {
            @include pie_depagina($color-titulosart:white);
            color: $color-titulosart;
        }
    }
}